@model List<CRUD.Models.ViewModels.ListClienteViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="row col-1" style="text-align:left; padding:10px;">
            <a href="~/Cliente/Nuevo" class="btn btn-primary">Nuevo</a>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Imagen</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.id_cli</td>
                    <td>@oElemento.nombre_cli</td>
                    <td>@oElemento.correo_cli</td>
                    <td><img width="150" height="150" src="@oElemento.imagen" /></td>
                    <td>
                        <a class="btn btn-success" href="@Url.Action("Editar", "Cliente", new {id = oElemento.id_cli})">Editar</a>
                        <a class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar el usuario?');" href="@Url.Action("Eliminar", "Cliente", new { id_cli =oElemento.id_cli})">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

