@model CRUD.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Agregar un Cliente";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo", "cliente", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12 ">


            <div>
                @Html.LabelFor(d => d.nombre_cli)
                @Html.TextBoxFor(d => d.nombre_cli, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.nombre_cli, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.cedula_cli)
                @Html.TextBoxFor(d => d.cedula_cli, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.cedula_cli, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.correo_cli)
                @Html.TextBoxFor(d => d.correo_cli, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.correo_cli, null, new { @class = "red" })
            </div>


            <div>
                @Html.LabelFor(d => d.fechaNacimiento_cli) <br />
                @Html.EditorFor(d => d.fechaNacimiento_cli, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.fechaNacimiento_cli, null, new { @class = "red" })
            </div>

            <br />
            <div>
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>


        </div>

    </div>
}